h1{
	float: left;
	margin-left: 15px;
	background-color: #4aaaa5;
	color: white;
}
.head{
	border-width: 5px;
	float: left;
	width: 240px;
	height: 85px;
	background-color: #ffffff;
	padding-bottom: 0px;
}
body{
	background-image: url("../images/dark-triangles.png");
	background-size: 960px 370px;
	background-repeat: no-repeat;

}
.content-inside{
	border-width: 5px;
	background-color: #ffffff;
	border-color: #dddddd;
}
.footer{
	margin-top: 10px;
	text-align: center;
	width: 100%;
	float: left;
	height: 50px;
	background-color: #666666;
}
.connect{
	text-align: center;
	background-color: #ffffff;
	border-color: #dddddd;
}
body{
	width: 960px;
}
.content-inside{
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 5px;
	float: left;
	width: 650px;
}
.connect{
	margin-right: 20px;
	float: left;
	width: 270px;
}
h2{
	color: #4aaaa5;
}
.menu{
	text-align: center;
	width: 720px;
	height: 85px;
	float: left;
	background-color: white;
}
.header{
	width: 100%;
	background-color: white;
	border-color: #cccccc;
	border-size: 20px;
}